#test {
  width:20vw;
}


.asteroid {
  height: 2.5vw;
  width: 2.5vw;
}

.ast-img {
  height:2.5vw;
  width: 2.5vw;
  /* background-size: 46.823vw 44.635vw; */
  background-size: 22.5vw 22.5vw;
  /* background-position: -0vw -3vw; */
  background-image: url('../images/asteroids.png');
}


.asteroid.animate {
  transition:left .1s, top .1s;
}
/* 
.asteroid.animate {
  transition:left .7s, top .7s;
} */