#test {
  width:20vw;
}


.asteroid {
  height: 3vw;
  width: 3vw;
}

.ast-img {
  height:3vw;
  width: 3vw;
  /* background-size: 46.823vw 44.635vw; */
  background-size: 27vw 27vw;
  /* background-position: -0vw -3vw; */
  background-image: url('../images/asteroids.png');
}